name: CI/CD whois server

on:
    push:
        branches:
            - "master"

jobs:
    # Check if applicaion builds
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2

            - name: Build the docker_compose
              run: docker-compose up -d --build

            - name: Build the application
              run: docker-compose exec -T whois-server npm run build

    Deploy:
        needs: build
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - name: Deploy in EC2
              env:
                  PRIVATE_KEY: ${{ secrets.AWS_PRIVATE_KEY }}
                  HOSTNAME: ${{ secrets.HOSTNAME }}
                  USER_NAME: ${{ secrets.USER_NAME }}

              run: |
                  echo "$PRIVATE_KEY" > private_key && chmod 600 private_key
                  ssh -o StrictHostKeyChecking=no -i private_key ${USER_NAME}@{HOSTNAME} '

                    # We have access to EC2, Start Deploy
                    cd /home/ubuntu/whois-backend &&
                    git checkout master &&
                    get fetch --all &&
                    git reset --hard origin/master &&
                    git pull origin master &&
                    docker-compose -f docker-compose.yml up -d --build
                  '
